<html>
<head>
	<title>JH Board Forum: <%= category.name %></title>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>	
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
	<header>
		<h1><a href="/posts">JH Boardniks</a></h1>
		<h3>For Jackson Heights Co-op Board Members</h3>
	</header>

	<div>
		<h1><%= category.name %> posts</h1>

<!-- display all posts in reverse chron, 10 to a page -->
		<% category.posts.each do |post| %>
			<div class="post">
				<h3>subject: <a href="/posts/<%= post["id"] %>"><%= post.subject %></a></h3>

				<p><%= post.content %></p>

<!-- display each previously created comment -->
				<% post.comments.each do |comment| %>
					<div class="comment">
						<p><%= comment["content"] %></p>
					</div>
				<% end %>

<!-- display created and expiration dates -->
				<p class ="post_date">created: <%= post.created_at %></p>
				<p class ="post_date">expiration: <%= post.expiration %></p>

<!-- display vote count for each post and buttons-->
<!-- 		<div class="vote">
					<form action-""
					UP DOWN
				</div>-->
			</div>	

		<% end %>
	</div>

<footer>
	<!-- new post and new category links -->
			<div class="link_new">
				<p><a href="/new/post">Create a new post in this category</a></p>
				<p><a href="/new/category">Create a new category</a></p>
			</div>
</footer>


</body>
</html>


